.custom-button {
    border: 1px solid #ffa857;
    color: #ffa857;
    background: transparent;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .custom-button:hover {
    background-color: #ffa857;
    color: white;
  }
  
  .custom-button:disabled {
    opacity: 50%;
    cursor: not-allowed;
  }

  .custom-button1 {
    border: 1px solid black;
    color: black;
    background: transparent;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .custom-button1:hover {
    background-color: black;
    color: white;
  }
  
  .custom-button1:disabled {
    opacity: 50%;
    cursor: not-allowed;
  }